body
{
   background-color: #FFFFFF;
   background-image: url(images/Geek.jpg);
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Image3
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#PageFooter1
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Text1
{
   position: absolute;
   left: 724px;
   top: 397px;
   width: 500px;
   height: 70px;
   text-align: center;
   z-index: 2;
}
#wb_Text2
{
   position: absolute;
   left: 833px;
   top: 546px;
   width: 137px;
   height: 2px;
   z-index: 5;
}
#wb_Text3
{
   position: absolute;
   left: 760px;
   top: 491px;
   width: 162px;
   height: 42px;
   z-index: 6;
}
#wb_Image1
{
   position: absolute;
   left: 886px;
   top: 544px;
   width: 36px;
   height: 25px;
   z-index: 3;
}
#wb_Text4
{
   position: absolute;
   left: 1074px;
   top: 491px;
   width: 162px;
   height: 42px;
   z-index: 7;
}
#wb_Image2
{
   position: absolute;
   left: 930px;
   top: 544px;
   width: 31px;
   height: 28px;
   z-index: 4;
}
#wb_Image3
{
   position: absolute;
   left: 855px;
   top: 118px;
   width: 200px;
   height: 194px;
   z-index: 9;
}
#wb_Text5
{
   position: absolute;
   left: 922px;
   top: 491px;
   width: 162px;
   height: 42px;
   z-index: 8;
}
#wb_Text6
{
   position: absolute;
   left: 625px;
   top: 1001px;
   width: 158px;
   height: 2px;
   z-index: 10;
}
#wb_Text7
{
   position: absolute;
   left: 37%;
   top: 30%;
   width: 18%;
   height: 40%;
   z-index: 0;
}
#PageFooter1
{
   position: fixed;
   overflow: hidden;
   text-align: left;
   left: 0;
   right: 0;
   bottom: 0;
   height: 40px;
   z-index: 11;
}
@media only screen
{
#BuildWith1
{
   left: 439px;
   top: 970px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 616px;
   top: 411px;
   width: 671px;
   height: 70px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   left: 898px;
   top: 483px;
   width: 29px;
   height: 36px;
   visibility: visible;
   display: inline;
}
#wb_Image2
{
   left: 934px;
   top: 484px;
   width: 36px;
   height: 37px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   left: 752px;
   top: 519px;
   width: 321px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   left: 720px;
   top: 521px;
   width: 162px;
   height: 42px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   left: 1024px;
   top: 521px;
   width: 162px;
   height: 42px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text5
{
   left: 875px;
   top: 521px;
   width: 162px;
   height: 42px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Image3
{
   left: 863px;
   top: 129px;
   width: 187px;
   height: 175px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 637px;
   top: 1001px;
   width: 158px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   left: 71%;
   top: -298%;
   width: 13%;
   height: 21%;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#PageFooter1
{
   height: 74px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #696969;
   background-image: none;
   border-radius: 3px;
}
}
